# Power BI Visuals default ignore
node_modules/
.tmp/
dist/
*.pbiviz
*.pbit
*.pbix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
webpack.statistics.prod.html
